In [15]:
exemplo_string = "batata"
exemplo_lista = ['a','b','c','a','b','c']
exemplo_tupla = ('onde','quando','porquê')
exemplo_conjunto = set(exemplo_lista)
exemplo_conjunto = 1
exemplo_racional = 3.3
exemplo_complexo = 1e10
exemplo_booleano = True

In [16]:
exemplo_dicionario = {
    "string": exemplo_string,
    "lista": exemplo_lista,
    "tupla": exemplo_tupla,
    "conjunto": exemplo_conjunto,
    "inteiro": exemplo_conjunto,
    "racional": exemplo_racional,
    "complexo": exemplo_complexo,
    "booleano": exemplo_booleano
}

In [17]:
for k in exemplo_dicionario.keys():
    print(k, ":", exemplo_dicionario[k], "-Tipo->", type(exemplo_dicionario[k]))

print("Dicionario do tipo: ", type(exemplo_dicionario))

string : batata -Tipo-> <class 'str'>
lista : ['a', 'b', 'c', 'a', 'b', 'c'] -Tipo-> <class 'list'>
tupla : ('onde', 'quando', 'porquê') -Tipo-> <class 'tuple'>
conjunto : 1 -Tipo-> <class 'int'>
inteiro : 1 -Tipo-> <class 'int'>
racional : 3.3 -Tipo-> <class 'float'>
complexo : 10000000000.0 -Tipo-> <class 'float'>
booleano : True -Tipo-> <class 'bool'>
Dicionario do tipo:  <class 'dict'>

# Constructos da Linguagem

Possíveis operadores Lógicos:

`and` -> e -> conjunção -> a and b <=> a ^ b <=> "a" e "b"

`or` -> ou -> disjunção -> a or b <=> a v b <=> "a" ou "b"

`==` -> igual -> igualdade -> a == b -> a = b -> "a" igual à "b"

`!=` diferente -> diferença -> a != b -> a <> b -> "a" diferente de "b"

`>` -> maior do que -> a > b

`<` -> menor do que -> a < b

`>=` -> maior ou igual à -> a >= b

`<=` -> menor ou igual à -> a <= b

Possíveis operadores Matemáticos:

`+` -> soma

`-` -> subtração

`*` -> multiplicação

`/` -> divisão racional

`//` -> divisão inteira

`%` -> resto da divisão

In [19]:
a = 0
b = 1
if a > b:
    print("A maior do que B")
elif a == b:
    print("A igual à B")
else:
    print("A maior do que B")

A maior do que B

In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
i=0
while i < 5:
    i+=1
    print(i)

1
2
3
4
5

In [3]:
def soma(a,b):
    return a+b
print(soma(1, 1))

2

In [4]:
class cachorro:
    def __init__(self, nome, raca, tutor):
        self.nome = nome
        self.raca = raca
        self.tutor = tutor
    
    def latir(self):
        return "!!au au au!!"

In [7]:
terry = cachorro("Terry", "Pastor Alemão", "Fernando")

print("---------------------------------")
print("Dados do Terry:")
print("Nome:", terry.nome)
print("Raça:", terry.raca)
print("Tutor:", terry.tutor)
print("---------------------------------")
print(terry.latir())

---------------------------------
Dados do Terry:
Nome: Terry
Raça: Pastor Alemão
Tutor: Fernando
---------------------------------
!!au au au!!

In [2]:
with open("./query.sql") as file:
    sql_query = file.read()

print("---------(imprimindo o conteúdo do arquivo de texto)---------")
print(sql_query)

---------(imprimindo o conteúdo do arquivo de texto)---------
select *
from table1
where a >= 10

In [4]:
!pip3 install sklearn

/bin/pip:6: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  from pkg_resources import load_entry_point
Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-bi_py7tt/sklearn/setup.py'"'"'; __file__='"'"'/tmp/pip-install-bi_py7tt/sklearn/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /tmp/pip-install-bi_py7tt/sklearn/pip-egg-info
         cwd: /tmp/pip-install-bi_py7tt/sklearn/
    Complete output (15 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [5]:
from datetime import datetime
import os
from sklearn import *

ModuleNotFoundError: No module named 'sklearn'

In [6]:
import pandas as pd

In [10]:
dataset = [
    [0,0,0],
    [0,1,1],
    [1,0,1],
    [1,1,1],
]
columns = ["a","b", "a_or_b"]
ordf = pd.DataFrame(dataset, columns = columns)

In [11]:
ordf

   a  b  a_or_b
0  0  0       0
1  0  1       1
2  1  0       1
3  1  1       1

In [15]:
ordf.to_csv('./ordf.csv')

In [13]:
!ls

ardf.csv  introducao_sintaxe_python.ipynb  query.sql

In [14]:
!pwd

/home/dsilva/www/software_engineer/eighth_semester/big_data_topics_in_python/06

In [16]:
lendo_o_Ativo_de_dados = pd.read_csv('./ordf.csv')

In [17]:
lendo_o_Ativo_de_dados

   Unnamed: 0  a  b  a_or_b
0           0  0  0       0
1           1  0  1       1
2           2  1  0       1
3           3  1  1       1

In [18]:
lendo_o_Ativo_de_dados.values

array([[0, 0, 0, 0],
       [1, 0, 1, 1],
       [2, 1, 0, 1],
       [3, 1, 1, 1]])

In [19]:
lendo_o_Ativo_de_dados.columns

Index(['Unnamed: 0', 'a', 'b', 'a_or_b'], dtype='object')